---
import JobItem from './JobItem.astro'

interface Job {
  company: string;
  position: string;
  logo: string;
  description?: string;
  from: string;
  to: string;
}

const { jobs } = Astro.props
---

<section class="mb-20">
  <h2 class="font-title text-2xl md:text-4xl">Experience</h2>
  <div class="w-10 border-b-4 mt-3 mb-10 border-primary"></div>
  <ul>
    {jobs.map((props: Job) => <JobItem {...props} />)}
  </ul>
</section>
