---
import { isNavActive } from '@utils/index'

const { pathname: current } = Astro.url
---

<footer>
  <a href="" class={isNavActive(current, '/')}>Portfolio</a>
  <a href="/about" class={isNavActive(current, '/about')}>About</a>
  <a href="/blog" class={isNavActive(current, '/blog')}>Blog</a>
  <a href="mailto:mateochamo1@gmail.com">Contact</a>
</footer>
