---
import GithubIcon from './GithubIcon.astro';
import LinkedInIcon from './LinkedInIcon.astro'
---

<section class="text-center my-20 px-4 sm:px-0">
  <h1 class="font-title text-4xl md:text-5xl">
    <strong class="text-primary">Hi!</strong> I am Mateo Chamorro
  </h1>
  <h2 class="mt-3 font-light font-title text-xl md:text-2xl">
    <span class="font-bold">+6 years</span> - Sr Software Engineer
  </h2>
  <div class="flex flex-row justify-center mt-16">
    <LinkedInIcon />
    <GithubIcon />
  </div>
</section>
