---
import Hero from 'src/components/Hero.astro';
import LastProjects from 'src/components/LastProjects.astro';
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Mateo Chamorro | JavaScript | React | React Native | Node.js">
  <main class="container mx-auto max-w-5xl">
    <Hero />
    <LastProjects />
  </main>
</MainLayout>
