---
import Hero from 'src/components/Hero.astro';
import ListProjects from 'src/components/ListProjects.astro';
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Mateo Chamorro | JavaScript | React | React Native | Node.js">
  <main class="container mx-auto max-w-5xl">
    <Hero />
    <ListProjects />
  </main>
</MainLayout>
