---
import { getPaginateProjects } from '@utils/index'
import { AllProjects } from 'src/components/AllProjects'
import MainLayout from '../layouts/MainLayout.astro'

const initialProjects = await getPaginateProjects(8, 0)
---

<MainLayout
  title="Mateo Chamorro | JavaScript | React | React Native | Node.js"
  description="All my projects">
  <main class="container mx-auto max-w-5xl">
    <section class="mt-20 mb-5 grid place-content-center">
      <div class="md:p-20">
        <h1 class="font-title text-4xl md:text-5xl">Projects</h1>
        <div class="w-10 border-b-4 mt-3 mb-10 border-primary"></div>
      </div>
    </section>
    <AllProjects initialProjects={initialProjects} client:load />
  </main>
</MainLayout>
