---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout
  title="Mateo Chamorro | JavaScript | React | React Native | Node.js"
  description="All my projects"
  >
  <main class="container mx-auto max-w-5xl">
    <section class="my-20 grid place-content-center">
      <div class="md:p-20">
        <h1 class="text-3xl md:text-5xl font-title">COMING SOON</h1>
        <div class="w-10 border-b-4 mt-3 mb-10 border-primary"></div>
      </div>
    </section>
  </main>
</MainLayout>
